attrs==21.4.0
certifi==2022.6.15
charset-normalizer==2.0.12
click==7.1.2
colorama==0.4.4
idna==3.3
iniconfig==1.1.1
packaging==21.3
pip
pluggy==0.13.1
py==1.11.0
pyparsing==3.0.9
pytest==6.2.4
requests==2
setuptools==49.2.1
shellingham==1.4.0
toml==0.10.2
typer==0.3.2
urllib3==1.26.9
typing==3.7.4.3
tabulate==0.8.10
simple-term-menu==1.5.0
paramiko==2.11.0
